$$ ITI \space AI-Pro: \space Intake \space 43 $$
$$ Recommender \space Systems $$
$$ Lab \space no. \space 1 $$

# `01` Import Necessary Libraries

## `i` Default Libraries

In [4]:
import numpy as np
import pandas as pd

## `ii` Additional Libraries
Add imports for additional libraries you used throughout the notebook

In [2]:
from sklearn.metrics.pairwise import cosine_similarity

----------------------------

# `02` Load Data

In [5]:
ratings = pd.read_csv("Data/songsModifiedDataset.csv", names=['userID', 'songID', 'rating'], skiprows=[0])
ratings.head()

   userID  songID  rating
0       0   90409       5
1       4   91266       1
2       5    8063       2
3       5   24427       4
4       5  105433       4

---------------------------------

# `03` Similarity Metrics

## `0` Utility Matrix
Construct utility matrix for the loaded data `ratings`
- Users as Index
- Songs as Columns

**Hint**: you can use `pandas.DataFram.pivot` method (see [Documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pivot.html))

In [6]:
utility_matrix = ratings.pivot(index='userID', columns='songID', values='rating')
utility_matrix = utility_matrix.fillna(0)
utility_matrix.head()

songID,2263,2726,3785,8063,12709,13859,16548,17029,19299,19670,...,113954,119103,120147,122065,123176,125557,126757,131048,132189,134732
userID,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## `i` Cosine Similarity
Finish implmenting the function below to calculate `Cosine Similarity` between two vectors

In [7]:
def cosine_sim(vec_a, vec_b):
    """
    Returns the raw cosine similarity score between two vectors.

            Parameters:
                vec_a (pandas.Series): Vector A
                vec_b (pandas.Series): Vector B

            Returns:
                sim_score (float): Similarity score between vectors vec_a and vec_b 
    """
    
    # Get the lengths of the two pandas.Series.
    n1 = len(vec_a)
    n2 = len(vec_b)

    # Check if the two pandas.Series have the same length.
    if n1 != n2:
        raise ValueError("The two pandas.Series must have the same length.")

    # Calculate the dot product of the two pandas.Series.
    dot_product = 0
    for i in range(n1):
        dot_product += vec_a.values[i] * vec_b.values[i]

    # Calculate the magnitudes of the two pandas.Series.
    magnitude1 = 0
    magnitude2 = 0
    for i in range(n1):
        magnitude1 += vec_a.values[i] ** 2
        magnitude2 += vec_b.values[i] ** 2

    # Calculate the cosine similarity.
    sim_score = dot_product / (magnitude1 ** 0.5 * magnitude2 ** 0.5)
    #sim_score = ((vec_a) @ (vec_b.T)) / (np.linalg.norm(vec_a) * np.linalg.norm(vec_b))
    return sim_score

In [17]:
print(f'Cosine Similarity between userID 56 and userID 227 is: {cosine_sim(utility_matrix.iloc[56], utility_matrix.iloc[227])}')

Cosine Similarity between userID 56 and userID 227 is: 0.7808688094430304

## `ii` Adjusted Cosine Similarity
Finish implmenting the function below to calculate `Adjusted Cosine Similarity` between two vectors

In [8]:
def adjusted_cosine_sim(vec_a, vec_b):
    """
    Returns the raw cosine similarity score between two vectors.

            Parameters:
                vec_a (pandas.Series): Vector A
                vec_b (pandas.Series): Vector B

            Returns:
                sim_score (float): Similarity score between vectors vec_a and vec_b 
    """
    vec_a = vec_a.values
    vec_b = vec_b.values
    
    # Get the lengths of the two pandas.Series.
    n1 = len(vec_a)
    n2 = len(vec_b)

    # Check if the two pandas.Series have the same length.
    if n1 != n2:
        raise ValueError("The two pandas.Series must have the same length.")
    
    # Calculate the mean of each vector.
    mean_a = vec_a.mean()
    mean_b = vec_b.mean()

    #calculate the normalized vector
    normalized_a = vec_a - mean_a
    normalized_b = vec_b - mean_b
    
    # Calculate the dot product of the two pandas.Series.
    dot_product = 0
    for i in range(n1):
        dot_product += normalized_a[i] * normalized_b[i]

    # Calculate the magnitudes of the two pandas.Series.
    magnitude1 = 0
    magnitude2 = 0
    for i in range(n1):
        magnitude1 += normalized_a[i] ** 2
        magnitude2 += normalized_b[i] ** 2

    # Calculate the adjusted cosine similarity.
    sim_score = dot_product / (magnitude1 ** 0.5 * magnitude2 ** 0.5)
    #sim_score = cosine_sim(normalized_a, normalized_b)
    return sim_score

In [22]:
print(f'Adjusted Cosine Similarity between userID 56 and userID 227 is: {adjusted_cosine_sim(utility_matrix.iloc[56], utility_matrix.iloc[227])}')

Adjusted Cosine Similarity between userID 56 and userID 227 is: 0.7764278070396686

## `iii` Pearson Correlation Coefficient
Finish implmenting the function below to calculate `Pearson Correlation Coefficient` between two vectors

In [9]:
def pearson_sim(vec_a, vec_b):
    """
    Returns the pearson similarity score between two vectors.

            Parameters:
                vec_a (pandas.Series): Vector A
                vec_b (pandas.Series): Vector B

            Returns:
                sim_score (float): Similarity score between vectors vec_a and vec_b 
    """

    vec_a = vec_a.values
    vec_b = vec_b.values
    
    # Get the lengths of the two pandas.Series.
    n1 = len(vec_a)
    n2 = len(vec_b)

    # Check if the two pandas.Series have the same length.
    if n1 != n2:
        raise ValueError("The two pandas.Series must have the same length.")
    
    # Calculate the mean of each vector.
    mean_a = vec_a.mean()
    mean_b = vec_b.mean()

    #calculate the normalized vector
    normalized_a = vec_a - mean_a
    normalized_b = vec_b - mean_b 

    # Calculate the standard deviations of each vector.
    std_a = vec_a.std()
    std_b = vec_b.std()
    
    # Calculate the dot product of the two pandas.Series.
    dot_product = 0
    for i in range(n1):
        dot_product += normalized_a[i] * normalized_b[i]

    # Calculate the adjusted cosine similarity.
    sim_score = dot_product /(n1 * std_a * std_b)

    return sim_score

In [ ]:
#sim_score = np.corrcoef(vec_a.values,vec_b.values)[0][1]

In [38]:
print(f'Pearson Similarity between songID 3785 and songID 17029 is: {pearson_sim(utility_matrix[3785], utility_matrix[17029])}')

Pearson Similarity between songID 3785 and songID 17029 is: -0.015085785303538593

## `iv` Mean Squared Difference
Finish implmenting the function below to calculate `Mean Squared Difference` between two vectors

**Note**: Make sure you calculate the difference for common dimensions only (i.e. the dimensions both items/users have non-zero values in)

In [10]:
def msd_sim(vec_a, vec_b):
    """
    Returns the mean squared difference similarity score between two vectors.
    Note: Only consider common items between the two vectors

            Parameters:
                vec_a (pandas.Series): Vector A
                vec_b (pandas.Series): Vector B

            Returns:
                sim_score (float): Similarity score between vectors vec_a and vec_b 
    """
    """ common_items = (vec_a != 0) & (vec_b != 0) 
    mean_square_difference = np.mean(np.square(vec_a[common_items] - vec_b[common_items]))
    sim_score = 1 / (mean_square_difference + 1) """
    """ common_dimensions = set(vec_a.keys()) & set(vec_b.keys())
    non_zero_dimensions = [dim for dim in common_dimensions if vec_a[dim] != 0 and vec_b[dim] != 0]
    squared_diff = [(vec_a[dim] - vec_b[dim]) ** 2 for dim in non_zero_dimensions]
    mse = sum(squared_diff) / len(common_dimensions)
    sim_score = 1 / (mse + 1) """

    # Find common items
    common_items = vec_a.index.intersection(vec_b.index)
    
    if not common_items.empty:
        # Compute squared differences
        squared_diffs = (vec_a[common_items] - vec_b[common_items]) ** 2
        
        # Calculate mean of squared differences
        sim_score = 1/(1+squared_diffs.mean())
    else:
        sim_score = float('nan')

    return sim_score

In [76]:
print(f'MSD Similarity between userID 56 and userID 227 is: {msd_sim(utility_matrix.iloc[56], utility_matrix.iloc[227])}')
print(f'MSD Similarity between songID 3785 and songID 17029 is: {msd_sim(utility_matrix[3785], utility_matrix[17029])}')

MSD Similarity between userID 56 and userID 227 is: 0.7777777777777779
MSD Similarity between songID 3785 and songID 17029 is: 0.626267901492468

--------------------------

# `04` Collaborative Filtering

Practice for item-based collaborative filtering

## `0` Utility Matrix
Construct utility matrix for the loaded data `ratings`
- Songs as Index
- Users as Columns

In [11]:
utility_matrix.head()

songID,2263,2726,3785,8063,12709,13859,16548,17029,19299,19670,...,113954,119103,120147,122065,123176,125557,126757,131048,132189,134732
userID,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## `i` Item-Item Similarity Matrix

Construct item-item (Cosine/Adjusted Cosine) similarity matrix from the utility matrix  above.

In [12]:
sim_mat = np.array([[None]*56]*56)
for i in range(56):
    for j in range(i,56):
        sim_mat[i][j] = adjusted_cosine_sim(utility_matrix.iloc[:,i], utility_matrix.iloc[:,j])
        sim_mat[j][i] = sim_mat[i][j]

In [13]:
sim_df = pd.DataFrame(sim_mat, index=utility_matrix.columns, columns=utility_matrix.columns)
sim_df.head()

songID,2263,2726,3785,8063,12709,13859,16548,17029,19299,19670,...,113954,119103,120147,122065,123176,125557,126757,131048,132189,134732
songID,,,,,,,,,,,,,,,,,,,,,
2263,1.0,-0.0065,-0.017511,-0.016326,-0.01752,-0.013347,-0.022847,-0.007725,-0.017581,-0.017882,...,-0.007331,-0.008085,-0.009286,-0.004556,-0.020674,-0.014522,-0.011948,-0.013081,-0.017415,-0.012329
2726,-0.0065,1.0,-0.016699,-0.01094,-0.016806,-0.011452,-0.023635,0.01324,-0.019354,-0.020125,...,-0.000729,0.00947,0.013797,-0.016811,-0.018107,-0.009166,-0.011642,-0.012274,-0.02302,-0.007772
3785,-0.017511,-0.016699,1.0,0.001511,-0.002429,-0.007363,-0.010149,-0.015086,-0.013344,-0.014637,...,-0.015709,-0.00797,-0.015821,-0.015284,-0.005766,-0.010261,-0.0133,-0.007578,-0.00749,-0.003461
8063,-0.016326,-0.01094,0.001511,1.0,-0.003506,-0.001862,-0.013025,-0.005731,0.007944,-0.016066,...,-0.01948,-0.001559,-0.014644,-0.015865,-0.004209,-0.006944,-0.011152,-0.006553,-0.013862,0.005777
12709,-0.01752,-0.016806,-0.002429,-0.003506,1.0,-0.011653,-0.014726,-0.004692,-0.002641,-0.006035,...,-0.014878,-0.011811,-0.006868,-0.007521,-0.013235,-0.011558,-0.016553,-0.009346,0.000393,-0.005

## `ii` Candidate Generation and Filtering

Filter out items (user 199988) has rated from the similarity matrix above.

In [14]:
user_id = 199988
potential_items = utility_matrix.loc[user_id][utility_matrix.loc[user_id] != 0].index
potential_items

Int64Index([2726, 19299, 43267, 56660], dtype='int64', name='songID')

In [15]:
filtered_sim_df = sim_df.loc[potential_items]
filtered_sim_df.drop(columns=potential_items, inplace=True)

In [16]:
filtered_sim_df

songID,2263,3785,8063,12709,13859,16548,17029,19670,22763,24427,...,113954,119103,120147,122065,123176,125557,126757,131048,132189,134732
songID,,,,,,,,,,,,,,,,,,,,,
2726,-0.0065,-0.016699,-0.01094,-0.016806,-0.011452,-0.023635,0.01324,-0.020125,-0.023036,-0.017468,...,-0.000729,0.00947,0.013797,-0.016811,-0.018107,-0.009166,-0.011642,-0.012274,-0.02302,-0.007772
19299,-0.017581,-0.013344,0.007944,-0.002641,-0.003426,-0.001161,-0.012135,-0.004975,0.005505,0.001551,...,-0.018252,-0.005171,-0.015623,-0.002624,0.014827,-0.013707,-0.017614,-0.000595,-0.011755,0.00685
43267,-0.009534,-0.008429,-0.010259,-0.013956,-0.012019,-0.016373,0.007456,-0.018029,-0.01754,-0.007722,...,-0.00747,0.016524,0.018883,-0.015632,-0.01338,-0.006118,-0.003468,-0.010407,-0.018965,0.004009
56660,-0.016032,-0.007015,-0.009887,0.004105,-0.014507,-0.020362,-0.007994,-0.00904,-0.008463,-0.00702,...,-0.019435,-0.007092,-0.011,-0.010886,-0.003124,-0.009896,-0.014101,-0.009387,0.002315,0.000836

## `iii` Top-K Candidate Selection

Selet top-K (a k of your choice) similar items for each item (user 199988) rated from the filtered similarity matrix above.

In [70]:
k = 3
#topk = {}
#for item in filtered_sim_df.index:
    #topk[item] = filtered_sim_df.loc[item].sort_values(ascending=False).head(k).to_dict()
topk = filtered_sim_df.apply(lambda row: row.sort_values(ascending=False).head(k), axis=1)
topk = topk.fillna(0)

In [71]:
topk

songID,8063,12709,17029,40712,42906,48731,90409,105433,119103,120147,123176
songID,,,,,,,,,,,
2726,0.000000,0.000000,0.01324,0.012574,0.000000,0.000000,0.000000,0.000000,0.000000,0.013797,0.000000
19299,0.007944,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.027774,0.000000,0.000000,0.014827
43267,0.000000,0.000000,0.00000,0.000000,0.011221,0.000000,0.000000,0.000000,0.016524,0.018883,0.000000
56660,0.000000,0.004105,0.00000,0.000000,0.000000,0.015657,0.020505,0.000000,0.000000,0.000000,0.000000

## `iv` Candidate Rating Prediction

Calculate the predicted rating for each of the candidate items.

In [72]:
potential_rating= utility_matrix.loc[user_id][utility_matrix.loc[user_id] != 0]
potential_rating

songID
2726     5.0
19299    5.0
43267    3.0
56660    5.0
Name: 199988, dtype: float64

In [64]:
def create_new_rating(sim_matrix, song, ratings):
    # Get similar songs
    similar_songs = []
    for idx, sim in enumerate(sim_matrix[song]):
        if sim != 0:
            similar_songs.append((idx, sim))
            
    # Calculate new rating
    numerator = 0
    denominator = 0
    for item, sim in similar_songs:
        numerator += ratings.iloc[item] * sim
        denominator += sim
    new_rating = numerator / denominator
    
    return new_rating

In [74]:
predicted_ratings = {}
""" for user_song in topk.keys():
    for song in topk[user_song].keys():
        if song in predicted_ratings.keys():
            continue
        else:
         predicted_ratings[song] = create_new_rating(topk, song, potential_rating) """
for song in topk.columns:
    predicted_ratings[song] = create_new_rating(topk, song, potential_rating)

predictions = pd.DataFrame(predicted_ratings.values(), index=predicted_ratings.keys(), columns=['Predicted Ratings'])

In [75]:
predictions

        Predicted Ratings
8063             5.000000
12709            5.000000
17029            5.000000
40712            5.000000
42906            3.000000
48731            5.000000
90409            5.000000
105433           5.000000
119103           3.000000
120147           3.844362
123176           5.000000

,predicted_rating,ref_1,ref_1_similarity,ref_1_rating,ref_2,ref_2_similarity,ref_2_rating
candidate,,,,,,,
45026,3.0,43267,0.010135,3,<NA>,<NA>,<NA>
86341,5.0,2726,0.009534,5,<NA>,<NA>,<NA>
17029,4.279497,2726,0.01324,5,43267,0.007456,3
12709,5.0,56660,0.004105,5,<NA>,<NA>,<NA>
40712,5.0,2726,0.012574,5,<NA>,<NA>,<NA>
123176,5.0,19299,0.014827,5,<NA>,<NA>,<NA>
90409,5.0,56660,0.020505,5,<NA>,<NA>,<NA>
134732,5.0,19299,0.00685,5,<NA>,<NA>,<NA>
60465,5.0,56660,0.003673,5,<NA>,<NA>,<NA>
120147,3.844362,2726,0.013797,5,43267,0.018883,3
43827,5.0,19299,0.00763,5,<NA>,<NA>,<NA>
8063,5.0,19299,0.007944,5,<NA>,<NA>,<NA>
105433,5.0,19299,0.027774,5,<NA>,<NA>,<NA>
42906,3.0,43267,0.011221,3,<NA>,<NA>,<NA>
48731,5.0,56660,0.015657,5,<NA>,<NA>,<NA>
25182,5.0,56660,0.002357,5,<NA>,<NA>,<NA>
119103,3.72862,2726,0.00947,5,43267,0.016524,3

------------------------------------------------------

# `05` Additional Tasks

## `i` Explore Surprise Library

- Install Scikit Surprise library.
- Explore the Library Documentation

## `ii` Implement Item-Based KNN Approach

- Follow the steps explained in the sessions to prepare the KNN approach.
- Generate prediction ratings for user $199988$ on all songs.

----------------------------------------------

$$ Wish \space you \space all \space the \space best \space â™¡ $$
$$ Abdelrahman \space Eid $$