$$ ITI \space AI-Pro: \space Intake \space 43 $$
$$ Recommender \space Systems $$
$$ Lab \space no. \space 4 $$

# `00.` Preparation

## `i.` Importing Libraries

In [1]:
import torch
import requests
import numpy as np
import pandas as pd
from tqdm import tqdm
from itertools import product
from IPython.display import display, clear_output
from torch.utils.data import Dataset, DataLoader, SequentialSampler, BatchSampler

pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

/Users/amrmohamed/anaconda3/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
# for reproducibility
import os
import random

def seed_everything(seed=42):
  random.seed(seed)
  os.environ['PYTHONHASHSEED'] = str(seed)
  np.random.seed(seed)
  torch.manual_seed(seed)
  torch.cuda.manual_seed(seed)
  torch.backends.cudnn.deterministic = True
seed_everything()

## `ii.` Loading Dataset

In [3]:
df = pd.read_csv('Data/DePaulMovies.csv')
df.head()

   userid     itemid  rating Time Location Companion
0    1123  tt1499658       2  NaN      NaN       NaN
1    1123  tt0405422       4  NaN      NaN       NaN
2    1123  tt0109830       5  NaN      NaN       NaN
3    1123  tt0088763       3  NaN      NaN       NaN
4    1123  tt0133093       3  NaN      NaN       NaN

## `iii.` Data Exploration

### `a.` Explore Null Values

In [10]:
nulls= df.isnull().sum()
nulls_df = pd.DataFrame(nulls,index=nulls.index,columns=['NullCount'])
nulls_df['Null Percentage (%)'] = nulls_df['NullCount']*100/df.shape[0]
nulls_df

           NullCount  Null Percentage (%)
userid             0             0.000000
itemid             0             0.000000
rating             0             0.000000
Time            1448            28.713068
Location        1448            28.713068
Companion       1448            28.713068

### `b.` Count Unique Items & Users

In [11]:
print(f"Unique Users: {len(df['userid'].unique())}.")
print(f"Unique Items: {len(df['itemid'].unique())}.")

Unique Users: 97.
Unique Items: 79.

### `c.` Explore Context Variables

In [12]:
context=df[['Time', 'Location', 'Companion']]
context.columns

Index(['Time', 'Location', 'Companion'], dtype='object')

In [22]:
unique_counts = []
unique_values_list = []

for col_name in context.columns:
    column_values = context[col_name].dropna()
    unique_counts.append(column_values.nunique())
    unique_values_list.append(column_values.unique())

uniques = pd.DataFrame({
    'Column Name': context.columns,
    'Unique Value Count': unique_counts,
    'Unique Values': unique_values_list,
}).set_index('Column Name')

In [23]:
uniques

             Unique Value Count             Unique Values
Column Name
Time                          2        [Weekday, Weekend]
Location                      2            [Cinema, Home]
Companion                     3  [Alone, Family, Partner]

In [31]:
value_counts=[]
for column in context.columns:
    column_values = context[column].dropna()
    value_counts.append(column_values.value_counts())

In [33]:
value_counts[0]

Weekend    1845
Weekday    1750
Name: Time, dtype: int64

In [34]:
time=pd.DataFrame(value_counts[0])
time

         Time
Weekend  1845
Weekday  1750

In [35]:
location=pd.DataFrame(value_counts[1])
location

        Location
Cinema      1963
Home        1632

In [36]:
Companion=pd.DataFrame(value_counts[2])
Companion

         Companion
Family        1343
Alone         1173
Partner       1079

### `d.` [Optional] Additional Exploration

-----------------------------------

# `01.` Data Preprocessing

In order to use the data as an input for the Factorization Machine model, we need it to be in a specific format (i.e., active user group, active movie user group, etc...)

In the following cells, we will perform preprocessing steps to extract required information and prepare the feature vector.

## `i.` Create User Mappings

In order to be able to create the active user column group, create the aggregated history column group, ..., etc., we need the users to have a zero-based sequential indexing. 

Hence, we will create a user mapping table (to from the new index to the original id).

In [39]:
unique_user_ids = df["userid"].unique()
user_mappings = pd.DataFrame({'new_id': pd.RangeIndex(start=0, stop=len(unique_user_ids))}, index=unique_user_ids).rename_axis('userid')
user_mappings

        new_id
userid
1123         0
1090         1
1088         2
1110         3
1017         4
...        ...
1098        92
1116        93
1032        94
1058        95
1082        96

[97 rows x 1 columns]

In [40]:
user_mappings.loc[1001]

new_id    32
Name: 1001, dtype: int64

## `ii.` Create Movie Mappings

Similar to the users, in order to be able to create the active movie column group, create the aggregated history column group, ..., etc., we need the users to have a zero-based sequential indexing. 

Hence, we will create a movie mapping table (to from the new index to the original id).

In [41]:
unique_item_ids = df["itemid"].unique()
movie_mappings = pd.DataFrame({'new_id': pd.RangeIndex(start=0, stop=len(unique_item_ids))}, index=unique_item_ids).rename_axis('itemid')
movie_mappings

           new_id
itemid
tt1499658       0
tt0405422       1
tt0109830       2
tt0088763       3
tt0133093       4
...           ...
tt0489099      74
tt0125439      75
tt0315733      76
tt1068680      77
tt3203616      78

[79 rows x 1 columns]

## `iii.` Create Aggregated History Matrix

In order to create aggregated user history column group, we need to:
- Create a utility matrix (that indicates the movies that each user has rated).
- Make sure the values filled in the utility matrix don't reflect ratings (i.e. binary, either 1 if rated or 0 if not).
- Normalized the matrix values (we can fo that through dividing by the number of movies rated).

In [51]:
df_copy = df.copy() # To avoid changing the original DataFrame
df_copy['ones'] = 1

# .to_dict() returns the pd.Series items as key value pairs {'index_label': value},
# in case of user_mappings.new_id the return value will include {1123: 0, 1090: 1} etc.
df_mapped = df_copy.replace(user_mappings.new_id.to_dict()).replace(movie_mappings.new_id.to_dict())

# Replace None with the appropriate values
agg_history = pd.pivot_table(df_mapped,
               values='rating', index='userid', columns='itemid', fill_value=0)
agg_history = agg_history.applymap(lambda x: 1 if x > 0 else x)
agg_history = agg_history.astype(int)
agg_history

itemid,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78
userid,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,1,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,0,1,1,1,0,1,1,1,0,1,0,0,0,1,1,1,0,1,0,0,0,1,1,0,0,0,1,0,0,0,0,1,0,1,0,1,0,0,0,1,1,0,0,0,0,1,1,0,1,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,1,0,0,0,1,1,1,0,0,0
93,0,0,1,1,1,0,0,1,0,1,0,0,0,0,1,1,1,0,0,1,0,0,1,1,1,1,0,1,0,0,1,1,0,0,0,0,0,0,0,1,1,0,1,0,1,1,1,0,1,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0
94,1,1,0,1,1,1,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,1,0,0,1,1,0,0,1,0,1,1,1,0,0,0,0,0,1,1,1,0,1,1,1,0,1,1,0,0,1,0,1,0,1,1,0,0,0,1,0,1,1,0,0,1,0,0,1,1,0,1,0,0,0,0,0
95,1,1,1,1,1,1,1,1,0,0,0,0,0,1,0,1,0,1,0,1,0,1,1,0,1,1,0,0,1,0,0,1,1,1,0,1,1,0,0,1,1,1,0,1,0,0,1,1,0,1,0,0,1,0,1,1,0,0,0,1,0,0,1,1,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0
96,1,1,1,1,1,1,1,1,1,0,1,0,0,0,0,0,0,0,1,1,0,1,0,0,1,1,1,1,0,1,0,1,1,1,0,0,1,1,0,1,1,1,1,1,0,1,1,1,1,1,0,1,1,1,1,1,1,0,1,1,0,0,1,1,0,1,1,1,1,0,1,0,1,0,1,0,0,1,0

In [52]:
# Replace None with correct values
# We need to normalize the aggregated history by dividing each value by the sum of all the values in the same row
agg_history_norm = agg_history / agg_history.values.sum(axis=1, keepdims=True)
agg_history_norm

itemid,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78
userid,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,0.200000,0.200000,0.200000,0.200000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.125000,0.125000,0.125000,0.125000,0.125000,0.125,0.125,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
2,0.000000,0.200000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000,0.200000,0.200000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000,0.000000,0.000000,0.000000,0.142857,0.142857,0.142857,0.142857,0.142857,0.142857,0.142857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000,0.000000,0.000000,0.000000,0.200000,0.200000,0.200000,0.000000,0.000000,0.000000,0.000000,0.200000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,0.000000,0.032258,0.032258,0.032258,0.000000,0.032258,0.032258,0.032258,0.000000,0.032258,0.000000,0.000,0.000,0.032258,0.032258,0.032258,0.000000,0.032258,0.000000,0.000000,0.000000,0.032258,0.032258,0.000000,0.000000,0.000000,0.032258,0.000000,0.000000,0.000000,0.000000,0.032258,0.000000,0.032258,0.000000,0.032258,0.000000,0.000000,0.0,0.032258,0.032258,0.000000,0.000000,0.000000,0.000000,0.032258,0.032258,0.000000,0.032258,0.032258,0.0,0.032258,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.032258,0.000000,0.000000,0.032258,0.000000,0.032258,0.000000,0.032258,0.000000,0.000000,0.000000,0.032258,0.032258,0.032258,0.0,0.000000,0.0
93,0.000000,0.000000,0.033333,0.033333,0.033333,0.000000,0.000000,0.033333,0.000000,0.033333,0.000000,0.000,0.000,0.000000,0.033333,0.033333,0.033333,0.000000,0.000000,0.033333,0.000000,0.000000,0.033333,0.033333,0.033333,0.033333,0.000000,0.033333,0.000000,0.000000,0.033333,0.033333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.033333,0.033333,0.000000,0.033333,0.000000,0.033333,0.033333,0.033333,0.000000,0.033333,0.000000,0.0,0.000000,0.033333,0.000000,0.000000,0.000000,0.033333,0.000000,0.033333,0.000000,0.0,0.033333,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,0.000000,0.033333,0.0,0.000000,0.0
94,0.028571,0.028571,0.000000,0.028571,0.028571,0.028571,0.000000,0.028571,0.000000,0.000000,0.000000,0.000,0.000,0.028571,0.000000,0.000000,0.000000,0.000000,0.000000,0.028571,0.000000,0.028571,0.000000,0.028571,0.000000,0.000000,0.028571,0.028571,0.000000,0.000000,0.028571,0.000000,0.028571,0.028571,0.028571,0.000000,0.000000,0.000000,0.0,0.000000,0.028571,0.028571,0.028571,0.000000,0.028571,0.028571,0.028571,0.000000,0.028571,0.028571,0.0,0.000000,0.028571,0.000000,0.028571,0.000000,0.028571,0.028571,0.000000,0.000000,0.0,0.028571,0.000000,0.028571,0.028571,0.000000,0.000000,0.028571,0.000000,0.000000,0.028571,0.028571,0.000000,0.028571,0.000000,0.000000,0.0,0.000000,0.0
95,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.000000,0.000000,0.000000,0.000,0.000,0.026316,0.000000,0.026316,0.000000,0.026316,0.000000,0.026316,0.000000,0.026316,0.026316,0.000000,0.026316,0.026316,0.000000,0.000000,0.026316,0.000000,0.000000,0.026316,0.026316,0.026316,0.000000,0.026316,0.026316,0.000000,0.0,0.026316,0.026316,0.026316,0.000000,0.026316,0.000000,0.000000,0.026316,0.026316,0.000000,0.026316,0.0,0.000000,0.026316,0.000000,0.026316,0.026316,0.000000,0.000000,0.000000,0.026316,0.0,0.000000,0.026316,0.026316,0.000000,0.026316,0.000000,0.026316,0.000000,0.000000,0.000000,0.000000,0.000000,0.026316,0.000000,0.000000,0.0,0.000000,0.0
96,0.019608,0.019608,0.019608,0.019608,0.019608,0.019608,0.019608,0.019608,0.019608,0.000000,0.019608,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.019608,0.019608,0.000000,0.019608,0.000000,0.000000,0.019608,0.019608,0.019608,0.019608,0.000000,0.019608,0.000000,0.019608,0.019608,0.019608,0.000000,0.000000,0.019608,0.019608,0.0,0.019608,0.019608,0.019608,0.019608,0.019608,0.000000,0.019608,0.019608,0.019608,0.019608,0.019608,0.0,0.019608,0.019608,0.019608,0.019608,0.019608,0.019608,0.000000,0.019608,0.019608,0.0,0.000000,0.019608,0.019608,0.000000,0.019608,0.019608,0.019608,0.019608,0.000000,0.019608,0.000000,0.019608,0.000000,0.019608,0.000000,0.0,0.019608,0.0

## `iv.` Categorical Columns Encoding

In [53]:
cats_ohe = pd.get_dummies(df[["Time","Location","Companion"]])
cats_ohe

,Time_Weekday,Time_Weekend,Location_Cinema,Location_Home,Companion_Alone,Companion_Family,Companion_Partner
0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...
5038,0,1,0,1,0,0,1
5039,0,1,0,1,0,0,1
5040,0,1,0,1,0,0,1
5041,0,1,0,1,0,0,1
5042,0,1,0,1,0,0,1

## `v.` Tagging Transactions into Train and Test Sets

### `#` Select a single transaction per user as a test sample.

**Hint**: Use `cumcount` method (See pandas documentation [here](https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.core.groupby.GroupBy.cumcount.html)).

In [54]:
df['Train'] = (df.groupby('userid').cumcount(ascending=False) != 0).replace({True:1, False:0})
df[['userid','itemid','Train']].head()

   userid     itemid  Train
0    1123  tt1499658      1
1    1123  tt0405422      1
2    1123  tt0109830      1
3    1123  tt0088763      1
4    1123  tt0133093      0

## `vi.` Putting it all together

### `#` Concatenate the Columns Created Independently

Preview the New Dataframe Containing:
- Mapped `userid` and `itemid`
- Encoded Categorical Columns `Time`, `Location`, `Companion`
- Training Data Tag Column
- Target Column `rating`

In [55]:
new_df = pd.concat([df_mapped[["userid","itemid"]], cats_ohe, df[["Train","rating"]]], axis=1)
new_df

,userid,itemid,Time_Weekday,Time_Weekend,Location_Cinema,Location_Home,Companion_Alone,Companion_Family,Companion_Partner,Train,rating
0,0,0,0,0,0,0,0,0,0,1,2
1,0,1,0,0,0,0,0,0,0,1,4
2,0,2,0,0,0,0,0,0,0,1,5
3,0,3,0,0,0,0,0,0,0,1,3
4,0,4,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...
5038,96,53,0,1,0,1,0,0,1,1,1
5039,96,68,0,1,0,1,0,0,1,1,2
5040,96,67,0,1,0,1,0,0,1,1,1
5041,96,51,0,1,0,1,0,0,1,1,1
5042,96,27,0,1,0,1,0,0,1,0,1

### `#` Preview the Normalized Aggregated History Matrix

In [56]:
agg_history_norm

itemid,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78
userid,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,0.200000,0.200000,0.200000,0.200000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.125000,0.125000,0.125000,0.125000,0.125000,0.125,0.125,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
2,0.000000,0.200000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000,0.200000,0.200000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000,0.000000,0.000000,0.000000,0.142857,0.142857,0.142857,0.142857,0.142857,0.142857,0.142857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000,0.000000,0.000000,0.000000,0.200000,0.200000,0.200000,0.000000,0.000000,0.000000,0.000000,0.200000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,0.000000,0.032258,0.032258,0.032258,0.000000,0.032258,0.032258,0.032258,0.000000,0.032258,0.000000,0.000,0.000,0.032258,0.032258,0.032258,0.000000,0.032258,0.000000,0.000000,0.000000,0.032258,0.032258,0.000000,0.000000,0.000000,0.032258,0.000000,0.000000,0.000000,0.000000,0.032258,0.000000,0.032258,0.000000,0.032258,0.000000,0.000000,0.0,0.032258,0.032258,0.000000,0.000000,0.000000,0.000000,0.032258,0.032258,0.000000,0.032258,0.032258,0.0,0.032258,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.032258,0.000000,0.000000,0.032258,0.000000,0.032258,0.000000,0.032258,0.000000,0.000000,0.000000,0.032258,0.032258,0.032258,0.0,0.000000,0.0
93,0.000000,0.000000,0.033333,0.033333,0.033333,0.000000,0.000000,0.033333,0.000000,0.033333,0.000000,0.000,0.000,0.000000,0.033333,0.033333,0.033333,0.000000,0.000000,0.033333,0.000000,0.000000,0.033333,0.033333,0.033333,0.033333,0.000000,0.033333,0.000000,0.000000,0.033333,0.033333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.033333,0.033333,0.000000,0.033333,0.000000,0.033333,0.033333,0.033333,0.000000,0.033333,0.000000,0.0,0.000000,0.033333,0.000000,0.000000,0.000000,0.033333,0.000000,0.033333,0.000000,0.0,0.033333,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,0.000000,0.033333,0.0,0.000000,0.0
94,0.028571,0.028571,0.000000,0.028571,0.028571,0.028571,0.000000,0.028571,0.000000,0.000000,0.000000,0.000,0.000,0.028571,0.000000,0.000000,0.000000,0.000000,0.000000,0.028571,0.000000,0.028571,0.000000,0.028571,0.000000,0.000000,0.028571,0.028571,0.000000,0.000000,0.028571,0.000000,0.028571,0.028571,0.028571,0.000000,0.000000,0.000000,0.0,0.000000,0.028571,0.028571,0.028571,0.000000,0.028571,0.028571,0.028571,0.000000,0.028571,0.028571,0.0,0.000000,0.028571,0.000000,0.028571,0.000000,0.028571,0.028571,0.000000,0.000000,0.0,0.028571,0.000000,0.028571,0.028571,0.000000,0.000000,0.028571,0.000000,0.000000,0.028571,0.028571,0.000000,0.028571,0.000000,0.000000,0.0,0.000000,0.0
95,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.000000,0.000000,0.000000,0.000,0.000,0.026316,0.000000,0.026316,0.000000,0.026316,0.000000,0.026316,0.000000,0.026316,0.026316,0.000000,0.026316,0.026316,0.000000,0.000000,0.026316,0.000000,0.000000,0.026316,0.026316,0.026316,0.000000,0.026316,0.026316,0.000000,0.0,0.026316,0.026316,0.026316,0.000000,0.026316,0.000000,0.000000,0.026316,0.026316,0.000000,0.026316,0.0,0.000000,0.026316,0.000000,0.026316,0.026316,0.000000,0.000000,0.000000,0.026316,0.0,0.000000,0.026316,0.026316,0.000000,0.026316,0.000000,0.026316,0.000000,0.000000,0.000000,0.000000,0.000000,0.026316,0.000000,0.000000,0.0,0.000000,0.0
96,0.019608,0.019608,0.019608,0.019608,0.019608,0.019608,0.019608,0.019608,0.019608,0.000000,0.019608,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.019608,0.019608,0.000000,0.019608,0.000000,0.000000,0.019608,0.019608,0.019608,0.019608,0.000000,0.019608,0.000000,0.019608,0.019608,0.019608,0.000000,0.000000,0.019608,0.019608,0.0,0.019608,0.019608,0.019608,0.019608,0.019608,0.000000,0.019608,0.019608,0.019608,0.019608,0.019608,0.0,0.019608,0.019608,0.019608,0.019608,0.019608,0.019608,0.000000,0.019608,0.019608,0.0,0.000000,0.019608,0.019608,0.000000,0.019608,0.019608,0.019608,0.019608,0.000000,0.019608,0.000000,0.019608,0.000000,0.019608,0.000000,0.0,0.019608,0.0

### `#` Split Data into Training and Test Dataframes

**Hint**: Use `Train` Column

In [57]:
train = new_df[new_df["Train"]==1]
test = new_df[new_df["Train"]==0]
print('The dimensions of the training subset: ', train.shape[0], 'X', train.shape[1])
print('The dimensions of the test subset: ', test.shape[0], 'X', test.shape[1])

The dimensions of the training subset:  4946 X 11
The dimensions of the test subset:  97 X 11

-----------------------

# `02.` Torch Dataset and DataLoader

## `i.` Create Customized Dataset Class

Make sure the `__getitem__` method does the following before returning the data:
- One Hot Encode the `userid` and `itemid` to create active user and active movie column groups respectively.
- Concatenates the redundent rows -corresponding to the `userid` column- from the normalized aggregated history matrix.
- Convert the data into sparse format (to avoid exceeding memory capacity).

**Note**: The Dataset will take an input of:
- User Ids: This is the set of user ids that will be used to split the batches
- Features Dataframe: Contains the data features (except for the aggregated history columns)
- Normalized Aggregated History Matrix
- Active Columns Matrix (i.e. one-hot encoded `userid` and `itemid`)
- Boolean variable indicating whether this dataset is for training/validation (having ground truth) or recommendation (no ground truth)

In [58]:
class DPMovieDataset(Dataset):
  def __init__(self, user_ids, data, agg_hist, active_matrix, recommendation=False):
    self.user_ids = user_ids
    self.data = data
    self.agg_hist = agg_hist
    self.active_matrix = active_matrix
    self.recommendation = recommendation

  def __len__(self):
    return self.user_ids.shape[0]

  def __getitem__(self, idx):
    batch_data = self.data[self.data["userid"].isin(idx)] # Select the rows corresponding to the list of user indices `idx` from self.data dataframe
    cat_cols = batch_data.iloc[:,2:9] # From batch_data extract only the one-hot encoded categorical columns
    agg_history = batch_data[['userid']].merge(self.agg_hist, left_on='userid', right_index=True) # Get the aggregated history for each selected transaction using merge
    active_groups = self.active_matrix.loc[self.active_matrix.index.isin(batch_data.index)] # Select the rows corresponding to the indices of the transactions selected in batch_data

    features = torch.from_numpy(np.hstack((active_groups.values, agg_history.values, cat_cols.values))) # Concatenate the processed columns together horizontally

    if not self.recommendation:
      targets = batch_data['rating']
      return features, targets
    else:
      return features

## `ii.` Instantiate Train and Test Objects from the Custom Dataset

In [59]:
active_columns = pd.get_dummies(new_df[['userid','itemid']].astype(str))
dataset_train = DPMovieDataset(user_mappings.values, train, agg_history_norm, active_columns)
dataset_test = DPMovieDataset(user_mappings.values, test, agg_history_norm, active_columns)

## `iii.` Create the DataLoader for Train and Test Datasets

**Note**: `BatchSampler` is used to select the mini batch at one go; since the `DataLoader` samples the batch items one by one
 causing an error when concatenating (because each item in our case represents a user with different transaction count; meaning the items don't have 
 consistent shapes).


**Note**: `BatchSampler` can have either another sampler or list of indices to select from. In our case, we used `SequentialSampler` which generates selections from 0 to M (number of users) in subsets of batch_size.

In [60]:
dataloader_train = DataLoader(dataset_train, 
                              sampler=BatchSampler(SequentialSampler(dataset_train), batch_size=10, drop_last=False), 
                              batch_size=None)

dataloader_test = DataLoader(dataset_test, 
                              sampler=BatchSampler(SequentialSampler(dataset_test), batch_size=10, drop_last=False), 
                              batch_size=None)

----------------------------------------------

# `03.` Torch Model Implementation

## `#` Model Equation Review

The 2-way factorization machine can be defines as:
$$\hat{y}(x) = w_0 + \sum_{i=1}^{n}w_i x_i + \sum_{i=1}^{n} \sum_{j=i+1}^{n} \langle \textbf v_i, \textbf v_j \rangle x_i x_j$$

<br>
The first term is just a linear model (i.e. can be replaced with a linear layer). The interaction part though can be reformulated into:

$$\sum_{i=1}^{n} \sum_{j=i+1}^{n} \langle \textbf v_i, \textbf v_j \rangle x_i x_j = 
\frac{1}{2} \sum_{f=1}^{k} \Big( \big(\sum_{i=1}^{n} v_f^{(i)} x_i \big)^2 - \sum_{i=1}^{n}v_f^{(i) 2} x_i^2 \Big)
$$

<br>

If we define $X$ and $V$ as follows:

<br>

$$
X = \begin{bmatrix}
x_1^{(1)} & \dots & x_n^{(1)}\\
 \vdots \ & \ddots \ & \vdots \\ 
x_1^{(M)} & \dots & x_n^{(M)} \\
\end{bmatrix}, \space \space
V = \begin{bmatrix}
v_1^{(1)} & \dots & v_k^{(1)}\\
 \vdots \ & \ddots \ & \vdots \\ 
v_1^{(n)} & \dots & v_k^{(n)} \\
\end{bmatrix}
$$

<br>

where $M$ is the number of transactions, $n$ is the number of features, and $k$ is the hyperparameter defining the latent space dimensions.

<br><br>
Then the interaction term can be put in the following vectorized form:

$$\sum_{i=1}^{n} \sum_{j=i+1}^{n} \langle \textbf v_i, \textbf v_j \rangle x_i x_j = 
\frac{1}{2} \sum^{M} \Big( \big(XV\big)^{2} - \big(X^{2}V^{2}\big) \Big)
$$

<br>

where $\sum\limits^{M}$ represents a row-wise summation.

## `i.` Create the Model Class

Implement Factorization Machines using PyTorch Class Model:
- Linear Layer: Represents the variable strengths 
- V Matrix: Latent Representation Matrix for each variable
- Implement the FM calculations in the `forward` method

In [61]:
class FactorizationMachine(torch.nn.Module):
  def __init__(self, n, k, bias=False):
    super(FactorizationMachine, self).__init__()
    self.n = n
    self.k = k
    self.linear = torch.nn.Linear(self.n, 1, bias)
    self.V = torch.nn.Parameter(torch.randn(n,k)) # Creating the latent matrix V of size (n X k) and initializing it with random values

  def forward(self, x_batch):
    x_batch = x_batch.float()
    part_1 = torch.sum(torch.pow(torch.mm(x_batch, self.V), 2), dim=1, keepdim=True)  # perform the first part of the interaction term: row-wise-sum((XV)^2)
    part_2 = torch.sum(torch.mm(torch.pow(x_batch, 2), torch.pow(self.V, 2)), dim=1, keepdim=True) # perform the second part of the interaction term: row-wise-sum((X)^2 * (V)^2))
    inter_term = 0.5 * torch.sub(part_1, part_2) # Put the interaction term parts together (refer to the equations above)
    var_strength = self.linear(x_batch) # Perform the linear part of the model equation (refer to the demo notebook on how to use layers in pytorch models)
    return var_strength + inter_term

## `ii.` Instantiate a Model Object

As for the hyperparameters:
- `n`: No. of features in the final feature vector
- `k`: No. of latent features in the `V` matrix

**Note**: You may try $k=5$ and observe the results.

In [71]:
for x,y in dataloader_train:
    print(x[0].shape)

torch.Size([263])
torch.Size([263])
torch.Size([263])
torch.Size([263])
torch.Size([263])
torch.Size([263])
torch.Size([263])
torch.Size([263])
torch.Size([263])
torch.Size([263])

In [72]:
model = FactorizationMachine(n=263, k=5)

------------------------

# `04.` Training the Model

## `i.` Write a Function to Run a Single Step of Training

Parameters:
- Model [torch model]
- Optimizer [torch.optim optimizer]
- Faetures [matrix]
- Targets [vector]
- Train [bool]: Whether this is a training or an evaluation step

In [73]:
def model_step(mode, x, y=None, optimizer=None, train=True):
  if train: # If we're in training phase, then zero the gradients and make sure the model is set to train
    model.train()
    optimizer.zero_grad()
  else: # If we're in evaluation phase, then make sure the model is set to eval
    model.eval()

  with torch.set_grad_enabled(train): # Either to perform the next lines with gradient tracing or not
    pred = model(x) # Get the model output from x
    pred = pred.reshape(pred.shape[0], ) # Flatten the prediction values

    y = torch.from_numpy(y.values.reshape(y.shape[0], )).float()

    criterion = torch.nn.MSELoss() # Define the criterion as MSELoss from torch
    loss = criterion(pred, y)

    if train:
      loss.backward()
      optimizer.step()

  return loss

## `ii.` Write a Function to Simulate the Training Loop of the Model

Parameters:
- Model [torch model]
- Training Dataloader [torch DataLoader]
- Test/Eval Dataloader [torch DataLoader]
- Learning Rate [float]
- Weight Decay [float]
- Epochs [int]
- Eval Step [int]

In [78]:
def train_loop(model, train_loader, eval_loader, lr, w_decay, epochs, eval_step):
  step = 0
  """ Defining our optimizer """
  optimizer = torch.optim.Adam(model.parameters(), lr=lr, weight_decay=w_decay)
  epochs_l, steps, t_losses, v_losses = [], [], [], []

  epochs_tqdm = tqdm(range(epochs), desc='Training in Progress', leave=True)
  for epoch in epochs_tqdm:
    for x, y in train_loader:
      loss_batch = model_step(model, x, y, optimizer, train=True)
      step +=1
      if step % eval_step == 0:
        train_loss = loss_batch
        val_loss = 0
        for x, y in eval_loader:
          val_loss += model_step(model, x, y, train=False)
       
        
        epochs_l.append(epoch+1)
        steps.append(step)
        t_losses.append(train_loss.detach().numpy())
        v_losses.append(val_loss.detach().numpy())
        clear_output(wait=True)
        display(pd.DataFrame({'Epoch': epochs_l, 'Step': steps, 'Training Loss': t_losses, 'Validation Loss': v_losses}))

In [79]:
train_loop(model, dataloader_train, dataloader_test, lr=0.004, w_decay=0.0003, epochs=2500, eval_step=2500)

   Epoch   Step Training Loss Validation Loss
0    250   2500      8.569599        42.19947
1    500   5000      6.906874        35.51965
2    750   7500      5.276848       29.451603
3   1000  10000     3.8224216       22.482204
4   1250  12500     2.6222982       19.300802
5   1500  15000     1.8894124       16.181551
6   1750  17500     1.5689199       14.360726
7   2000  20000     2.3795466       14.988238
8   2250  22500     1.2898408       14.512751
9   2500  25000     0.9118392       11.958211

Training in Progress: 100%|██████████| 2500/2500 [04:20<00:00,  9.61it/s]

-------------------------

# `05.` Recommendation

## `i.` Evaluating Model on Test Transaction

Evaluate the model on `userid`$=1053$ from the test dataset

**Note**: Make sure this transaction is not in your training set (if it's, then evaluate the test transaction for this user)

In [90]:
new_id = user_mappings.loc[1053].values[0]

In [91]:
features,actual_rating = dataset_test.__getitem__([new_id])
actual_rating = actual_rating.values[0]
predicted_rating = model(features)[0][0]

In [92]:
model.eval()
with torch.no_grad():
  print(f'Predicted rating for User of interest: {predicted_rating}') # Get the model output on the user of interest after running the previous cell to now their new_id
  print(f'Actual Rating: {actual_rating}') # Extract the actual rating for the user of interest from dataset_test Dataset object

Predicted rating for User of interest: 0.8096122741699219
Actual Rating: 1

## `ii.` Recommending New Items

Create a dataframe containing dummy transactions involving user `userid`$=1053$ and movies they didn't rate before.

### `#` Get a list of movies not rated before

In [93]:
# Replace None with the new_id of the user
items_our_user_rated = (train[train.userid==new_id].itemid).unique().tolist()
items_our_user_rated.extend((test[test.userid==new_id].itemid).unique().tolist())

In [94]:
items_our_user_can_rate = movie_mappings[~movie_mappings.new_id.isin(items_our_user_rated)].new_id.tolist()

In [95]:
print(f'Number of unique items user of interest rated is {len(items_our_user_rated)}')
print(f'Number of unique items that can be recommended to user of interest is {len(items_our_user_can_rate)}')

print(f'Preview of the item list:\n\t{items_our_user_can_rate[:5]}')

Number of unique items user of interest rated is 25
Number of unique items that can be recommended to user of interest is 55
Preview of the item list:
	[0, 1, 4, 5, 8]

### `#` Generate a list of all possible pairs of movies with the different contexual features
- `Time`: [Time_Weekday, Time_Weekend]
- `Location`: [Location_Cenima, Location_Home]
- `Companion`: [Companion_Alone, Companion_Family, Companion_Partner]

**Hint**: you can use `itertools.product` function (Not familar? see [Explanation](https://www.geeksforgeeks.org/python-itertools-product/))

In [96]:
possible_pairs = product(items_our_user_can_rate, ['Time_Weekday', 'Time_Weekend'], ['Location_Cinema', 'Location_Home'], ['Companion_Alone', 'Companion_Family', 'Companion_Partner'])

### `#` Create a `DataFrame` where each row represents a possible pair

**Hint 1**: DataFrames can be created from a list of dictionaries (refer to an example [here](https://stackoverflow.com/questions/20638006/convert-list-of-dictionaries-to-a-pandas-dataframe))

**Hint 2**: [List comprehensions](https://www.w3schools.com/python/python_lists_comprehension.asp) can be used with [f-strings](https://www.geeksforgeeks.org/formatted-string-literals-f-strings-python/) to create a list of dictionaries where each row has $1$s in certain columns and $0$s elsewhere

In [97]:
# Replace None with the new_id of the user of interest

new_recommendation_pairs = pd.DataFrame([{'userid': new_id, 'itemid': t[0], 'userid_86': 1, f'itemid_{t[0]}': 1, f'{t[1]}': 1, f'{t[2]}': 1, f'{t[3]}': 1} for t in possible_pairs])
print(f'Shape of the resulting DataFrame: {new_recommendation_pairs.shape[0]} X {new_recommendation_pairs.shape[1]}')
new_recommendation_pairs.head()

Shape of the resulting DataFrame: 660 X 65

,userid,itemid,userid_86,itemid_0,Time_Weekday,Location_Cinema,Companion_Alone,Companion_Family,Companion_Partner,Location_Home,Time_Weekend,itemid_1,itemid_4,itemid_5,itemid_8,itemid_9,itemid_10,itemid_11,itemid_12,itemid_13,itemid_14,itemid_15,itemid_16,itemid_20,itemid_24,itemid_25,itemid_26,itemid_28,itemid_29,itemid_30,itemid_32,itemid_33,itemid_35,itemid_36,itemid_37,itemid_38,itemid_42,itemid_44,itemid_45,itemid_46,itemid_47,itemid_48,itemid_49,itemid_50,itemid_53,itemid_54,itemid_55,itemid_57,itemid_58,itemid_59,itemid_60,itemid_61,itemid_62,itemid_63,itemid_64,itemid_65,itemid_67,itemid_68,itemid_69,itemid_70,itemid_72,itemid_75,itemid_76,itemid_77,itemid_78
0,86,0,1,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,86,0,1,1.0,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,86,0,1,1.0,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,86,0,1,1.0,1.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,86,0,1,1.0,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### `#` Concat with an empty `DataFrame` to add the rest of the One Hot Encoded Columns

In [98]:
recommendation_pairs_ohe = pd.concat([new_recommendation_pairs, pd.DataFrame([], columns=active_columns.columns)])

### `#` Extract the `userid_xx` and `itemid_xx` columns in the same order as the original `active_columns` dataframe 

**Note**: We need the `NaN` values to be $0$ s

In [99]:
active_columns_rec = recommendation_pairs_ohe.copy()[active_columns.columns].fillna(0)
active_columns_rec.head()

,userid_0,userid_1,userid_10,userid_11,userid_12,userid_13,userid_14,userid_15,userid_16,userid_17,userid_18,userid_19,userid_2,userid_20,userid_21,userid_22,userid_23,userid_24,userid_25,userid_26,userid_27,userid_28,userid_29,userid_3,userid_30,userid_31,userid_32,userid_33,userid_34,userid_35,userid_36,userid_37,userid_38,userid_39,userid_4,userid_40,userid_41,userid_42,userid_43,userid_44,userid_45,userid_46,userid_47,userid_48,userid_49,userid_5,userid_50,userid_51,userid_52,userid_53,userid_54,userid_55,userid_56,userid_57,userid_58,userid_59,userid_6,userid_60,userid_61,userid_62,userid_63,userid_64,userid_65,userid_66,userid_67,userid_68,userid_69,userid_7,userid_70,userid_71,userid_72,userid_73,userid_74,userid_75,userid_76,userid_77,userid_78,userid_79,userid_8,userid_80,userid_81,userid_82,userid_83,userid_84,userid_85,userid_86,userid_87,userid_88,userid_89,userid_9,userid_90,userid_91,userid_92,userid_93,userid_94,userid_95,userid_96,itemid_0,itemid_1,itemid_10,itemid_11,itemid_12,itemid_13,itemid_14,itemid_15,itemid_16,itemid_17,itemid_18,itemid_19,itemid_2,itemid_20,itemid_21,itemid_22,itemid_23,itemid_24,itemid_25,itemid_26,itemid_27,itemid_28,itemid_29,itemid_3,itemid_30,itemid_31,itemid_32,itemid_33,itemid_34,itemid_35,itemid_36,itemid_37,itemid_38,itemid_39,itemid_4,itemid_40,itemid_41,itemid_42,itemid_43,itemid_44,itemid_45,itemid_46,itemid_47,itemid_48,itemid_49,itemid_5,itemid_50,itemid_51,itemid_52,itemid_53,itemid_54,itemid_55,itemid_56,itemid_57,itemid_58,itemid_59,itemid_6,itemid_60,itemid_61,itemid_62,itemid_63,itemid_64,itemid_65,itemid_66,itemid_67,itemid_68,itemid_69,itemid_7,itemid_70,itemid_71,itemid_72,itemid_73,itemid_74,itemid_75,itemid_76,itemid_77,itemid_78,itemid_8,itemid_9
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0,0.0,0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0,0.0,0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0,0.0,0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0,0.0,0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0,0.0,0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

### `#` Extract the categorical columns along with user and item id columns in the same order as the original `new_df` dataframe 

**Note**: We need the `NaN` values to be $0$ s

In [100]:
recommendation_df = recommendation_pairs_ohe.copy()[train.drop(columns=['Train', 'rating']).columns].fillna(0)
recommendation_df.head()

,userid,itemid,Time_Weekday,Time_Weekend,Location_Cinema,Location_Home,Companion_Alone,Companion_Family,Companion_Partner
0,86.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
1,86.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
2,86.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
3,86.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
4,86.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0

### `#` Instantiate objects from the `DPMovieDataset` and `DataLoader` to prepare our dummy transactions for the model

**Note**: `batch_size` in the recommendation phase can be 1 so that it's easier to determine which predictions belong to which user (in case of recommending to multiple users at once)

**Hint**: `BatchSampler` can take another sampler (e.g. `SequentialSampler` as we used before) or an iterable (e.g. list of indices)

In [101]:
# Replace None with the new_id of the user of interest

users_to_recommend = [new_id]

In [102]:
recommendation_dataset = DPMovieDataset(np.array([users_to_recommend]), recommendation_df, agg_history_norm, active_columns_rec, recommendation=True)
recommendation_dataloader = DataLoader(recommendation_dataset, 
                                        sampler=BatchSampler(users_to_recommend, batch_size=1, drop_last=False), 
                                        batch_size=None)

### `#` Rating Prediction

In [103]:
rating_predictions = []
with torch.no_grad():
  model.eval()
  for batch in recommendation_dataloader:
    rating_predictions.append(model(batch))

### `#` Add `predicted_rating` column to `recommendation_df` and fill it with the corresponding $<user, movie>$ pairs ratings

In [104]:
for user, ratings in zip(users_to_recommend, rating_predictions):
  recommendation_df.loc[recommendation_df[recommendation_df.userid==user].index, 'predicted_rating'] = ratings.numpy()

### `#` Producing Top-N lists based on the contexual features

Let's take $N=5$

In [105]:
possible_contexts = product(['Time_Weekday', 'Time_Weekend'], ['Location_Cinema', 'Location_Home'], ['Companion_Alone', 'Companion_Family', 'Companion_Partner'])

In [106]:
top5_lists = pd.DataFrame([{'user': t[0],
               'time_context': t[1][0].replace('Time_', ''),
               'location_context': t[1][1].replace('Location_', ''),
               'companion_context': t[1][2].replace('Companion_', ''),
               'top5': recommendation_df[(recommendation_df.userid==t[0])\
                                         &(recommendation_df[t[1][0]]==1)\
                                         &(recommendation_df[t[1][1]]==1)\
                                         &(recommendation_df[t[1][2]]==1)].sort_values('predicted_rating', ascending=False).itemid.values[:5]\
               } for t in product(users_to_recommend, possible_contexts)])

In [107]:
top5_lists

,user,time_context,location_context,companion_context,top5
0,86,Weekday,Cinema,Alone,"[50.0, 76.0, 57.0, 54.0, 15.0]"
1,86,Weekday,Cinema,Family,"[50.0, 15.0, 59.0, 76.0, 75.0]"
2,86,Weekday,Cinema,Partner,"[50.0, 59.0, 15.0, 38.0, 33.0]"
3,86,Weekday,Home,Alone,"[50.0, 59.0, 15.0, 57.0, 38.0]"
4,86,Weekday,Home,Family,"[50.0, 59.0, 15.0, 38.0, 42.0]"
5,86,Weekday,Home,Partner,"[50.0, 59.0, 15.0, 38.0, 33.0]"
6,86,Weekend,Cinema,Alone,"[50.0, 76.0, 57.0, 15.0, 38.0]"
7,86,Weekend,Cinema,Family,"[50.0, 75.0, 15.0, 38.0, 59.0]"
8,86,Weekend,Cinema,Partner,"[50.0, 59.0, 38.0, 15.0, 33.0]"
9,86,Weekend,Home,Alone,"[50.0, 59.0, 15.0, 38.0, 57.0]"
10,86,Weekend,Home,Family,"[50.0, 59.0, 38.0, 15.0, 42.0]"
11,86,Weekend,Home,Partner,"[59.0, 50.0, 38.0, 15.0, 33.0]"

### `#` [Additional] Request Movie Titles from `OMDb` API

**Note**: [Open Movie Database (OMDb)](https://www.omdbapi.com/) can be used to retrieve movie information using `imdb` id (e.g. $tt3896198$)

**Hint**: you can use `requests` to send requests to the API (see [explanation](https://www.geeksforgeeks.org/python-requests-tutorial/))

In [108]:

#Implementt the function to take new_id value map it back to original id and then query the API and return the movie title
API_KEY = "d25854cc"
BASE_URL = "http://www.omdbapi.com/"

def get_titles(index_id):
  
  original_id = movie_mappings.index[index_id]

  # Query the OMDb API to retrieve movie information based on the original ID
  params = {
      "i": original_id,
      "apikey": API_KEY
  }
  response = requests.get(BASE_URL, params=params)
  movie_data = response.json()

  # Extract the movie title from the API response
  movie_title = movie_data.get("Title")
  
  return movie_title

In [109]:
top5_lists['top5_titles'] = top5_lists.top5.apply(lambda id_list: [get_titles(id_) for id_ in id_list])

/var/folders/r9/82c1qyqn2xgfn0qw9dqzys9c0000gn/T/ipykernel_31714/978185927.py:7: FutureWarning: Indexing with a float is deprecated, and will raise an IndexError in pandas 2.0. You can manually convert to an integer key instead.
  original_id = movie_mappings.index[index_id]

In [110]:
top5_lists

,user,time_context,location_context,companion_context,top5,top5_titles
0,86,Weekday,Cinema,Alone,"[50.0, 76.0, 57.0, 54.0, 15.0]","[Closer, 21 Grams, Kung Fu Panda, Hitch, American Beauty]"
1,86,Weekday,Cinema,Family,"[50.0, 15.0, 59.0, 76.0, 75.0]","[Closer, American Beauty, The Proposal, 21 Grams, Notting Hill]"
2,86,Weekday,Cinema,Partner,"[50.0, 59.0, 15.0, 38.0, 33.0]","[Closer, The Proposal, American Beauty, Shakespeare in Love, Bridesmaids]"
3,86,Weekday,Home,Alone,"[50.0, 59.0, 15.0, 57.0, 38.0]","[Closer, The Proposal, American Beauty, Kung Fu Panda, Shakespeare in Love]"
4,86,Weekday,Home,Family,"[50.0, 59.0, 15.0, 38.0, 42.0]","[Closer, The Proposal, American Beauty, Shakespeare in Love, Over the Hedge]"
5,86,Weekday,Home,Partner,"[50.0, 59.0, 15.0, 38.0, 33.0]","[Closer, The Proposal, American Beauty, Shakespeare in Love, Bridesmaids]"
6,86,Weekend,Cinema,Alone,"[50.0, 76.0, 57.0, 15.0, 38.0]","[Closer, 21 Grams, Kung Fu Panda, American Beauty, Shakespeare in Love]"
7,86,Weekend,Cinema,Family,"[50.0, 75.0, 15.0, 38.0, 59.0]","[Closer, Notting Hill, American Beauty, Shakespeare in Love, The Proposal]"
8,86,Weekend,Cinema,Partner,"[50.0, 59.0, 38.0, 15.0, 33.0]","[Closer, The Proposal, Shakespeare in Love, American Beauty, Bridesmaids]"
9,86,Weekend,Home,Alone,"[50.0, 59.0, 15.0, 38.0, 57.0]","[Closer, The Proposal, American Beauty, Shakespeare in Love, Kung Fu Panda]"
10,86,Weekend,Home,Family,"[50.0, 59.0, 38.0, 15.0, 42.0]","[Closer, The Proposal, Shakespeare in Love, American Beauty, Over the Hedge]"
11,86,Weekend,Home,Partner,"[59.0, 50.0, 38.0, 15.0, 33.0]","[The Proposal, Closer, Shakespeare in Love, American Beauty, Bridesmaids]"

### `#` [Bonus] Use the `OMDb` API to add more auxiliary features (e.g. genre, year, etc.)

----------------------------------------------

$$ Wish \space you \space all \space the \space best \space ♡ $$
$$ Abdelrahman \space Eid $$