In [1]:
import pandas as pd
import surprise

In [2]:
df = pd.read_csv('D:\Recommender Systems\Labs\Lab_2\Students_Version\Data\songs_data.csv')
df.head()

   song_id  artist_id  song_genre  user_id  n_listen  publish_year
0      537        368           4     2066        13          2002
1      921        107           1     1179         5          2006
2      352        188           1     1468        11          2013
3      853        370           4      460         9          2020
4      479        408           2     1125         3          2020

In [3]:
reader = surprise.reader.Reader(rating_scale=(0, 15))

In [5]:
dataset = surprise.dataset.Dataset.load_from_df(df[['user_id', 'song_id', 'n_listen']], reader)
dataset

In [6]:
trainset = dataset.build_full_trainset()

In [7]:
trainset

In [11]:
train, test = surprise.model_selection.train_test_split(dataset, test_size=0.2, random_state=1234)

In [14]:
model = surprise.prediction_algorithms.KNNBasic(k = 20,
                                                 min_k = 1,
                                                   sim_options = {
                                                       'name': 'cosine',
                                                       'user_based': False
                                                   },
                                                     verbose = True)

In [15]:
model.fit(train)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [16]:
predictions = model.test(test)

In [17]:
from surprise.accuracy import rmse, mae

In [18]:
rmse(predictions)

RMSE: 4.7254

4.725407977366105

In [19]:
mae(predictions)

MAE:  4.0634

4.06335277025556

In [22]:
test[3]

(2060, 908, 7.0)

In [24]:
model.predict(2060, 908).est

5.87719488429845